@media only screen and (min-width: 768px) {
  .container-div{
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;
  }
  .filters-div{
    width: 580px !important;
  }
  .cards-main-div{
    margin: 39px 40px !important;
  }
  .cards-loader{
    left: 45% !important;
    height: 300px !important;
  }
  .custom-card{
    width: 202px !important;
    margin: 10px 9px !important;
    float: left !important;
    height: 300px !important;
  }
}
.developed-by{
  margin: 0 auto;
}
.App{
  text-align: center;
}
.custom-button{
  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #54ffa7;
  width: 120px;
}
.custom-button:active{
  font-weight: bold;
}

.filters-div{
  width: 260px;
  margin: 0 auto;
}
.title{
  text-align: center;
  margin-left: 11x;
}
.center{
  margin: 0 auto;
  text-align:center;
}
.container-div{
  width: 260px;
}
.cards-loader{
  position: absolute;
  left: 28%;
}
.filters{
  margin-left: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.years-btn{
  
}
.custom-card{
  width: 210px;
  border: 1px solid black;
  margin:10px -10px;
  background-color: #ebebeb;
}
.bold{
  font-weight: bold;
}

.custom-card-body{

}
.cards-main-div{
  width: 100%;
  margin: 20px 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
